body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(55, 72, 81);
  color: rgb(190, 174, 174);
}

h1 {
  color: rgb(233, 120, 7);
}

a {
  color: #8bad36;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #a0cd2c;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: rgb(168, 76, 76);
  background-color: rgb(210, 208, 63);
}

li {
  list-style: none;
  border: 1px solid #364bad;
  padding: 5px;
  margin: 5px;
  background-color: rgba(195, 124, 25, 0.622);
}

li:hover {
  transform: scale(1.1);
}